<launch>
    <arg name="node" default="ms" />
    <arg name="odometry_topic_name" default="/odom" />
    <arg name="steering_topic_name" default="/SteeringAngle" />
    <arg name="velocity_topic_name" default="/longitudinal_controller/velocity_target" />
    <arg name="wheelbase" default="2.269" />

    <node name = "state_estimator" pkg="autonomx_state_estimator" type="state_estimator_$(arg node).py" output="screen" respawn="true" >
        <param name="odometry_topic_name" value="$(arg odometry_topic_name)" />
        <param name="steering_topic_name" value="$(arg steering_topic_name)" />
        <param name="velocity_topic_name" value="$(arg velocity_topic_name)" />
        <param name="wheelbase" value="$(arg wheelbase)" />
    </node>

    
</launch>